/* COlORS */

/* background: #C5CAE9; */
/* dark-primary: #303F9F */
/* primary: #3F51B5 */
/* text: #FFFFFF */
/* accent: #8BC34A */
/* primary-text: #212121 */
/* dividers: #BDBDBD */

* {
  font-family: 'Merriweather', serif;
}

/* Remove overflow scrollbar on modal in chrome */
::-webkit-scrollbar {
  width: 0.5px;
  background: transparent;
}

h1, h2 {
  color: #FFFFFF !important;
}

html {
  background-color: #212121;
}

hr {
  background-color: #BDBDBD;
}

.nav {
  background-color: #303F9F;
}

.banner {
  font-size: 2.5rem;
}

.selection-box {
  background-color: #3F51B5;
}

.show-cards-button {
 background-color: #8BC34A; 
}

.card-container {
  background-color: #212121;
}

.card {
  background-color: #8BC34A;
  color: #002;
}

/* CARD IMAGE */


.card {
  /*height: 300px;*/
  /*opacity: 0.6;*/
  transition: transform .25s ease;
}

.card:hover {
  cursor: pointer;
  /*opacity: 1;*/
  transform: scale(1.05, 1.05);
}

.card-img-reverse {
  /*height: 300px;*/
  /*opacity: 0.6;*/
  transform: rotate(180deg);
  transition: transform .25s ease;
}

.card-img-reverse:hover {
  cursor: pointer;
  /*opacity: 1;*/
  /*transform: scale(1.05, 1.05);*/
}

/* MODAL */

.modal-background {
  background-color: rgba(33, 33, 33, 0.9);
}

.modal-content {
  letter-spacing: 0.05rem;
  line-height: 1.7rem;
  width: 75%;
  color: #fff !important;
}